body,html{
    background-color: #000000;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-left:5%;
    box-sizing: border-box;
}

*{
    font-family: "manrope";
}
